appnope==0.1.0
decorator==4.0.2
Flask==0.10.1
flask-mongoengine==0.7.1
Flask-Script==2.0.5
Flask-WTF==0.12
gnureadline==6.3.3
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
mongoengine==0.10.0
path.py==8.1
pexpect==3.3
pickleshare==0.5
pymongo==3.0.3
simplegeneric==0.8.1
traitlets==4.0.0
Werkzeug==0.10.4
wheel==0.24.0
WTForms==2.0.2
